@model IEnumerable<ASPMintaZh01.Models.SuperHeroModel>

@{
    ViewData["Title"] = "Contact";
}
@{
    foreach (var item in @Model)
    {
        if (item.Side == "light")
        {
            @: <font color="blue"><u>@item.Name</u></font> <br />
        }
        else
        {
            @: <font color="red"><u>@item.Name</u></font> <br />
        }

        <img width="150" src="@Url.Action("GetImage", new { id = item.Id })" /> <br />

        <font color="red">@item.Power</font>
        <font color="blue">@item.Speed</font>
        <font color="green">@item.Magic</font>
        <br />
        @: Health: <font color="red"> @item.Health </font> <br/>
        <a href="/Home/Game?id=@item.Id">Play Hero!</a> <br />

    }
}
